.auctions-component-wrapper .auctions-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.auctions-component-wrapper  .auctions-heading h4 {
  font-size: 1.5em;
  color: #525252;
  margin-bottom: 0;
}

.auctions-component-wrapper  .auctions-heading 
.ant-btn.ant-btn-primary.app-primary-large {
  font-size: 1.1em;
  min-width: 100px;
  padding: 0.35em 0 2em 0;

}

.auctions-component-wrapper .auction-details-list {
  font-size: 1.1em;
  margin-top: 0.8em;
}

.auctions-component-wrapper .auction-details-list .ant-list-item-action > li {
  cursor: auto;
}

.auctions-component-wrapper .auction-details-list b{
  font-size: 1.1em;
  font-family: circularMedium;
  color: #5a5a5a;
}

.auction-date-time-picker, .auction-price-input.ant-input-number {
  width: 100%
}

.auction-buy-info-popover {
  font-size: 1.05em;
  max-width: 400px;
}